.nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  margin: 0 auto;
  height: 3.5em;
}
.leftNav {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.treeLogoContainer {
  margin-right: 0.5em;
}

.treeLogo {
  height: 3em;
  padding-top: 0.2em;
}
.loginLinkContainer {
  margin-top: 0.8em;
  padding: 0.2em;
  background-color: #b9f2ff;
  border-radius: 0.5em;
}
.loginLink {
  text-decoration: none;
  color: black;
}
.rightNav {
  flex: 2;
  display: flex;
  justify-content: end;
}
.rightNav ul {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

.rightNav ul li {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  margin-top: 0.8em;
}
.rightNav a:global(.active) {
  background-color: #b9f2ff;
}
.rightNav a {
  margin: 0 0.5em;
  font-size: larger;
  text-align: center;
}
/* @media only screen and (min-width: 700px) {
  .nav {
  }
  .nav a {
  }
} */
